<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 3
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 3</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- <ion-button (click)="setName('name', 'Bill')">Set Value</ion-button> -->
    <ion-button (click)="getName()">Get Name</ion-button>
    <ion-button (click)="removeValue('name')">Remove</ion-button>
    <ion-button (click)="clearStorage()">Clear</ion-button>

    <div class="bx">{{name}}</div>
    <div class="bx">{{reminder}}</div>
    {{showNotifications}}

    <ion-list>
        <ion-item>
            <ion-input [(ngModel)]="name" label="Name" />
        </ion-item>
        <ion-item>
            <ion-toggle>Show Reminders</ion-toggle>
        </ion-item>
        <ion-item id="open-date-popover">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>Reminder</ion-label>
            <!-- <ion-text slot="end">{{reminder}}</ion-text> -->
        </ion-item>
        <!-- value is passed using the template reference '#bday' because
        dates are a pain in the butt and there is no useful documentation! -->
        <ion-popover trigger="open-date-popover" size="cover">
            <ng-template>
                <ion-datetime #myDate presentation="date" (ionChange)="setReminder(myDate.value)"
                    [preferWheel]="true" [showDefaultButtons]="true" size="cover"></ion-datetime>
            </ng-template>
        </ion-popover>

    </ion-list>

</ion-content>
